# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Ancient Merge.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\UnityProjects\myprogs\Ancient Merge\.idea\.idea.Ancient Merge\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
